VITE_SUPABASE_URL=https://gvcelpwrkjsflegimolt.supabase.co
VITE_SUPABASE_ANON_KEY=dein_supabase_publishable_anon_key
VITE_ADMIN_EMAIL=eisendlestefan@gmail.com
VITE_ADMIN_NAME=Stefan Eisendle
VITE_BAKERY_EMAIL=eisendlestefan@gmail.com
VITE_PAYPAL_PAYMENT_LINK=https://www.paypal.com/ncp/payment/8FV3GWW3RQQ9A
VITE_BANK_RECIPIENT=Raiffeisenkasse Wipptal
VITE_BANK_IBAN=IT32A0818259110000300279609
VITE_BANK_BIC=
VITE_EMAIL_FUNCTION_NAME=email-versand
